.split {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    background-color: #090806;
    color:white;
  }
  .left {
    left: 0;
    background-color: #090806;
  }
  .btnSty{
    width: 110px;
    height: 39px;
    border-radius: 9px;
    background: transparent;
    border-color: white !important;
    color: white;
    margin-top: 26px;
    margin-left: -29px;
    cursor: pointer;
 }
 .menusty{
    position: relative;
    top: -13px;
 }
 .centered {
  position: relative;
  left: 622px;
  top: 40px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: whitesmoke;
   
  }
  .cardCont {
    position: relative;
    top: -35px;
    left: -32px;
  }
  .btnSty{
    width: 110px;
    height: 39px;
    border-radius: 9px;
    background: transparent;
    border-color: white !important;
    color: white;
    margin-top: 26px;
    margin-left: 23px;
    cursor: pointer;
 }
 .tableProp{
  position: relative;
  left: 0px;
  top: 20px;
  padding-left: 27px;
   padding-right: 36px;
 }
 .p-datatable table {
  border-collapse: collapse;
  min-width: 100% !important;
  table-layout: auto;
  /* display: inline-table; */
}
.SpanSty{
  float: right;
    margin-top: 32px;
    background: #debc05;
    color: black;
    padding: 7px;
    border-radius: 21px;
}
.logsty{
  border:1px solid black;
  border-radius:4px;
}
.SpanSty{
    float: right;
      margin-top: 32px;
      background: #debc05;
      color: black;
      padding: 7px;
      border-radius: 21px;
  }
  .Span1Sty{
    position: fixed;
    right: 58px;
    top: 28px;
    background: silver;
    color: black;
    padding: 7px;
    border-radius: 21px;
  }