<div class="split left">
    <!-- <label class="title">NFT</label> -->
      <img src="\assets\images\NFT_Login.jpg" width="627px" style="padding-top:53px">
  </div>
  
  <div class="split right">
    <div class="centered">
        <h1>Login</h1>
        <p-card class="card_style" [style]="{'width': '25rem', 'margin-bottom': '2em', 'height':'20rem'}">
            <!-- <div class="form-group">
                <label for="email">Name</label>&nbsp;&nbsp;&nbsp;
                <input type="text" placeholder="Enter the email " class="form-control"   name="email" required email />
              </div> -->
              <div class="field">
                <label for="username2" class="block">Username</label><br>
                <input id="username2" type="username" aria-describedby="username2-help" class="ng-invalid ng-dirty" pInputText class="input_style"  placeholder="Enter the username" style="float:left ;margin-top: 8px;padding: 0.75rem 2.75rem !important;" /><br>
                <!-- <small id="username2-help" class="p-error block">Username is not available.</small> -->
            </div><br><br>
            <!-- <div class="field"> -->
                <label for="password2" class="block">Password</label><br>
                <input id="username2" type="password" aria-describedby="username2-help" class="ng-invalid ng-dirty" pInputText class="input_style"  placeholder="Enter the Password" style="float:left ;margin-top: 8px;padding: 0.75rem 2.75rem !important;" /> 
                <div class="lockicon">
                    <i  [class]="show ? 'pi pi-lock-open' : 'pi pi-lock'">
                    </i>
                  </div><br>
            <!-- </div><br> -->
            <button  type="submit" class="btn btn-primary btnSty" (click)="submit()">
                Submit
               </button>
        </p-card>

       <label>Not registered yet ?</label>
       <button  type="submit" class="btn btn-primary createbtn" (click)="signUp()">
        Create Account
       </button>
        
      
    </div>
  </div>