<div class="split left">
    <div style="padding-top: 11px;">
        <img src="\assets\images\home_img.png" width="100px" style="padding-top: 15px;
        padding-left: 7px;">
        <span class="menusty">
       <p-dropdown [options]="menuopt" optionLabel="name"></p-dropdown>
        </span>
    </div>
    <div class="centered">
        <p-card class="menu_card" [style]="{'width': '38rem', 'margin-bottom': '2em'}">
            <div class="field">
                <label for="username2" class="block">Username</label><br>
                <input id="username2" type="username" aria-describedby="username2-help" class="ng-invalid ng-dirty" pInputText class="input_style"  placeholder="Enter the username" style="float:left ;margin-top: 8px;padding: 0.75rem 2.75rem !important;" /><br>
                <!-- <small id="username2-help" class="p-error block">Username is not available.</small> -->
            </div><br><br>
            <!-- <div class="field"> -->
                <label for="password2" class="block">Password</label><br>
                <input id="username2" type="password" aria-describedby="username2-help" class="ng-invalid ng-dirty" pInputText class="input_style"  placeholder="Enter the Password" style="float:left ;margin-top: 8px;padding: 0.75rem 2.75rem !important;" /> 
            <!-- </div><br> -->
            <button  type="submit" class="btn btn-primary btnSty">
                Submit
               </button>
        </p-card>
    </div>


</div>
