<div class="split left">
    <div style="padding-top: 12px;padding-left: 7px;padding-right: 12px;">
        <p-card class="menu_card" [style]="{'width': 'auto','height':'74px'}">
        <div class="cardCont">
        <img src="\assets\images\home_img.png" width="100px" style="padding-top: 15px;
        padding-left: 7px;margin-left: 27px;">
        <span class="menusty">
            <p-dropdown [options]="menuopt" [(ngModel)]="selected" optionLabel="name" (onChange)="onChange($event)"></p-dropdown>
       <span  [ngClass]="level=='silver' ? 'Span1Sty' : 'SpanSty'" (click)="op.toggle($event)">
            <i class="pi pi-user"></i>
        </span>
        </span>
       
    </div>
    </p-card>
    </div>
    <div class="centered">
        <label>Ethereum Address</label>&nbsp;&nbsp;
        <input type="text" style="height: 36px;" [(ngModel)]="ethadd" placeholder="Enter Ethereum Address">&nbsp;&nbsp;
        <label>Token Id</label>&nbsp;&nbsp;
        <input type="text" style="height: 36px;" [(ngModel)]="token_id" placeholder="Enter TokenID">&nbsp;&nbsp;
        <button  type="submit" (click)="search()" class="btn btn-primary btnSty" >
            Search
        </button>
        <button  type="submit" (click)="reset()" class="btn btn-primary btnSty" >
            Reset
        </button> 
    </div>
    <div class="tableProp">
        <p-table [value]="sales" [showLoader]="true" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Ethereum Address</th>
                    <th>Token Id</th>
                    <th>Current Price</th>
                    <th>Checkout</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sales>
                <tr>
                    <td>{{sales.nft_name}}</td>
                    <td>{{sales.contract_addr}}</td>
                    <td>{{sales.token_id}}</td>
                    <td>{{sales.current_price}}</td>
                    <td><button  type="submit" class="btn btn-primary logsty" (click)="buy(sales.contract_addr,sales.token_id)">Buy</button> </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-sales>
                    <label style="position: relative;left: 516px;">No records found</label> 

              </ng-template>
            
        </p-table>
    </div>
</div>
<p-overlayPanel #op>
    <ng-template pTemplate>
        <label>Name: </label>&nbsp;<label>{{name}}</label><br>
        <label>Level: </label>&nbsp;<label>{{level}}</label><br>
        <label>Wallet Amount: </label>&nbsp;<label>{{balance}}</label><br>
        <button  type="submit" class="btn btn-primary logsty" (click)="login()">
            Logout
        </button>
    </ng-template>
</p-overlayPanel>
<p-dialog header="Verification" [modal]=true [(visible)]="display" [style]="{width: '30vw'}">
    <label>Enter Password</label> <br><br>
    <input id="password1" type="password" aria-describedby="username2-help" [(ngModel)]="passWord" class="ng-invalid ng-dirty" pInputText class="input_style"  placeholder="Enter the Password" style="float:left ;margin-top: 8px;padding: 0.75rem 2.75rem !important;" /><br>
    <button  type="submit" class="btn btn-primary btnSty" (click)="submit()">
        Submit
       </button>

</p-dialog>
