<div class="signUpSty">
<div class="split left">
    <img src="\assets\images\NFT_Login.jpg" width="627px" style="padding-top: 71px;
    margin-left: 28px;">
  </div>
  
  <div class="split right">
    <div class="centered ui-g-12">
        <h3>New Registration</h3>
        <p-card class="create_card" [style]="{'width': '38rem', 'margin-bottom': '2em'}">
          <div class="divStyle">
         <label> First Name</label> &nbsp;&nbsp; 
         <input type="text" style="height: 36px;" placeholder="Enter FirstName">&nbsp;&nbsp;
         <label> Last Name</label> &nbsp;&nbsp; 
         <input type="text" class="last" placeholder="Enter LastName"><br><br></div>
         <div style="margin-left: -24px;" class="divStyle">
         <label style="position: relative;right: 21px;"> Address</label> &nbsp;&nbsp; 
         <input type="text" style="height: 36px;" placeholder="Address">&nbsp;&nbsp;
         <label >City</label> &nbsp;&nbsp;
         <input type="text" class="city" placeholder="Enter City" ></div><br>
         <div class="divStyle">
         <label > State</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
         <input type="text" class="state" placeholder="Enter State">&nbsp;&nbsp;&nbsp;&nbsp;
         <label >Zip Code</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input type="text" class="zip" placeholder="Enter ZipCode"></div><br>
         <div class="divStyle">
          <label style="float: left;"> Email Address</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
          <input type="text" class="email" placeholder="Enter EmailAddress">&nbsp;&nbsp;&nbsp;&nbsp;
          <label style="position: relative;
          right: 95px;">Phone Number</label> &nbsp;&nbsp;&nbsp;
          <input type="text" class="phone" placeholder="Enter PhoneNumber"></div>
          <div>
          <label > Cell Phone Number</label> &nbsp;&nbsp;&nbsp; 
          <input type="text" style="height: 36px;" placeholder="Enter Cell Number"></div><br>
          <div class="btnCls">
          <button  type="submit" class="btn btn-primary btnSty">
            Submit
           </button>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
           <button  type="submit" class="btn btn-primary btnSty" (click)="login()">
            Login
           </button>
          </div>

         
        </p-card>      
    </div>
  </div>
</div>