<div class="signUpSty">
<div class="split left">
    <img src="\assets\images\NFT_Login.jpg" width="627px" style="padding-top: 71px;
    margin-left: 28px;">
  </div>
  
  <div class="split right">
    <div class="centered ui-g-12">
        <h3>New Registration</h3>
        <p-card class="create_card" [style]="{'width': '38rem', 'margin-bottom': '2em'}">
          <div class="divStyle">
         <label class="required-field"> First Name</label> &nbsp;&nbsp; 
         <input type="text" (focus)='onfocus()' style="height: 36px;" [(ngModel)]="first_name" placeholder="Enter FirstName">&nbsp;&nbsp;
         <label class="required-field"> Last Name</label> &nbsp;&nbsp; 
         <input type="text" (focus)='onfocus()' class="last" [(ngModel)]="last_name" placeholder="Enter LastName"><br><br></div>
         <div style="margin-left: -24px;" class="divStyle">
         <label class="required-field" style="position: relative;right: 21px;"> Address</label> &nbsp;&nbsp; 
         <input type="text" (focus)='onfocus()' style="height: 36px;" [(ngModel)]="street_addr" placeholder="Address">&nbsp;&nbsp;
         <label class="required-field">City</label> &nbsp;&nbsp;
         <input type="text" (focus)='onfocus()'class="city" [(ngModel)]="city" placeholder="Enter City" ></div><br>
         <div class="divStyle">
         <label class="required-field"> State</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
         <input type="text" (focus)='onfocus()' class="state" [(ngModel)]="state" placeholder="Enter State">&nbsp;&nbsp;&nbsp;&nbsp;
         <label class="required-field">Zip Code</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input type="text" (focus)='onfocus()' class="zip" [(ngModel)]="zip" placeholder="Enter ZipCode"></div><br>
         <div class="divStyle">
          <label class="required-field" style="float: left;"> Email Address</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
          <input type="text" (focus)='onfocus()' class="email" [(ngModel)]="email" placeholder="Enter EmailAddress">&nbsp;&nbsp;&nbsp;&nbsp;
          <label class="required-field" style="position: relative;
          right: 95px;">Phone Number</label> &nbsp;&nbsp;&nbsp;
          <input type="text" (focus)='onfocus()' class="phone" [(ngModel)]="ph_no" placeholder="Enter PhoneNumber"></div>
          <div class="divStyle">
          <label class="celllab required-field"> Cell Phone Number</label> &nbsp;&nbsp;&nbsp; 
          <input type="text" (focus)='onfocus()' class="cell" [(ngModel)]="cell_no" style="height: 36px;" placeholder="Enter Cell Number">
          <label class="ethlabel required-field">Ethereum Address</label> &nbsp;&nbsp;&nbsp; 
          <input type="text" (focus)='onfocus()' class="eth" [(ngModel)]="eth_address" style="height: 36px;position: relative;" placeholder="Enter Ethereum">
           </div>
           <div class="divStyle"> 
            <label class="required-field" style="position: relative;left: -68px;" >Username</label> &nbsp;&nbsp;&nbsp; 
            <input type="text" (focus)='onfocus()'style="height: 36px;position: relative;left: -69px;" [(ngModel)]="username" placeholder="Enter Username">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="required-field" style="position: relative;right: 54px;">Password</label> &nbsp;&nbsp;&nbsp; 
            <input type="text" (focus)='onfocus()' [(ngModel)]="password" style="height: 36px;position: relative;left: 254px;top: -39px;;" placeholder="Enter Password"><br>
            <label style="color:red;margin-left: 106px;" *ngIf="enterDetails">{{errormessage}}</label>
             </div>
          <div class="btnCls">
          <button  type="submit" class="btn btn-primary btnSty" (click)="submit()">
            Submit
           </button>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
           <button  type="submit" class="btn btn-primary btnSty" (click)="login()">
            Login
           </button>
           
          </div>
        </p-card>      
    </div>
  </div>
  <p-dialog header="Registration Successfull" [closable]="false" [(visible)]="display">
    Go to &nbsp;&nbsp; <button  type="submit" class="btn btn-primary loginbtnSty" (click)="login()">
      Login
     </button>
</p-dialog>
</div>

